<h2 mat-dialog-title>{{"USERS.CREATE_NEW" | translate}}</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>{{"LABELS.FIRST_NAME" | translate}}</mat-label>
      <input matInput type="text" formControlName="firstName" placeholder='{{"LABELS.FIRST_NAME" | translate}}'/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"LABELS.LAST_NAME" | translate}}</mat-label>
      <input matInput type="text" formControlName="lastName" placeholder='{{"LABELS.LAST_NAME" | translate}}'/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"LABELS.EMAIL" | translate}}</mat-label>
      <input matInput type="email" formControlName="email" placeholder='{{"LABELS.EMAIL" | translate}}'/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>adresse</mat-label>
      <input matInput type="text" formControlName="adresse" placeholder='{{"LABELS.EMAIL" | translate}}'/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{"LABELS.PHONE" | translate}}</mat-label>
      <input matInput type="text" formControlName="phoneNumber" placeholder='{{"LABELS.PHONE" | translate}}'/>
    </mat-form-field>

 
    <mat-form-field>
      <mat-label>{{"LABELS.PASSWORD" | translate}}</mat-label>
      <input matInput type="password" formControlName="passwordConfirmation" placeholder="********"/>
      <button
        type="button"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="getPassword()"
        matTooltip='{{"LABELS.AUTO_GENERATE_PASSWORD" | translate}}'
      >
        <mat-icon>autorenew</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{"LABELS.PASSWORD" | translate}}</mat-label>
      <input matInput type="password" formControlName="password" placeholder="********"/>
      <button
        type="button"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="getPassword()"
        matTooltip='{{"LABELS.AUTO_GENERATE_PASSWORD" | translate}}'
      >
        <mat-icon>autorenew</mat-icon>
      </button>
    </mat-form-field>

    <div class="dialog-actions">
      <button
        mat-button
        color="warn"
        type="button"
        (click)="dialogRef.close()"
      >
        {{"LABELS.CANCEL" | translate}}
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onConfirm()"
        [disabled]="!formGroup.valid"
      >
        {{"LABELS.CONFIRM" | translate}}
      </button>
    </div>
  </form>
</mat-dialog-content>

