<div class="list-container mat-elevation-z1">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <table mat-table [dataSource]="dataSource" matSort>

    <!--    First Name Column-->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">{{"LABELS.FIRST_NAME" | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.firstName | titlecase}} </td>
    </ng-container>

    <!--    Last Name Column-->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">{{"LABELS.LAST_NAME" | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.lastName | titlecase}} </td>
    </ng-container>

    <!--    Email Column-->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">{{"LABELS.EMAIL" | translate}}</th>
      <td mat-cell *matCellDef="let element"><a href="mailto:{{element.email}}">{{element.email}}</a></td>
    </ng-container>

    <!--    Phone Number Column-->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">{{"LABELS.PHONE" | translate}}</th>
      <td mat-cell *matCellDef="let element"><a href="tel:{{element.phoneNumber}}">{{element.phoneNumber}}</a></td>
    </ng-container>

    <!--    User Role Column-->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">{{"LABELS.ROLE" | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <!--    Actions Column-->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="warn" (click)="deleteThisUser(element)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="onEditUserInfo(element)">
          <mat-icon>settings</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

