<app-general-layout>
  <h2>{{"USERS.HEADING" | translate}}</h2>
  <p>{{"USERS.DESCRIPTION" | translate}}</p>

  <button mat-raised-button color="primary" (click)="onCreateUser()">
    <mat-icon>add</mat-icon>
    {{"USERS.CREATE_NEW" | translate | titlecase}}
  </button>

  <app-users-list
    [users]="user$"
    [user]="userTosend"
    [isLoading]="isLoading"
    (deleteUser)="onDeleteUser($event)"
    (editUser)="onEditUserInfo($event)"
  ></app-users-list>
</app-general-layout>
